.cabecalho {
    display: flex;
    align-items: center;
    margin-left: 5rem;
    padding: 1rem 0;
    color: var(--texto)

     
}
.cabecalho__titulo {
    margin-left: .5rem;
    font-size: 18px;
}

.menu {
    margin: 0 10rem;
}
.menu__lista {
    display: flex;
    align-items: center;
    
}
.menu__item {
    
    padding: 1rem;
  
}
.cabecalho__menu {
    display: flex;
    justify-content: space-between;
}
.entrar {
    background: var(--branco);
    border: none;
    padding: 1rem;
    margin-left: 8rem;
    color: var(--texto)
}
.cadastrar {
    background: var(--vermelho);
    color: var(--branco);
    padding: 0 1rem;
    margin-right: 1rem;
    height: 2.5rem;
    border-radius: 10px;
    border: none;
}



