.depoimentos {
    background-color: rgba(142, 36, 36, 0.05);
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    padding: 3rem;
    gap: 1.5rem;
    
    
}
.depoimentos__span {
    font-size: 14px;
    font-weight: 600;
    color: var(--vermelho);
}
.depoimentos__titulo {
    font-size: 36px;
    color: var(--preto);
    text-align: center;
}
.depoimentos__imagem {
    width: 56px;
    height: 56px;
}
.depoimentos__nome {
    color: var(--preto);
    margin-bottom: -15px;
}
.depoimentos__profissao {
    color: var(--texto);
    font-size: 14px;
}